.contact-main-div {
    display: flex;
}

.contact-text-div {
    margin-left: 50px;
}

.contact-main-div>* {
    flex: 1;
    margin-bottom: 30px;
}

.contact-image-div>img {
    max-width: 100%;
    height: auto;
}

.contact-heading {
    font-size: 56px;
    font-weight: 400;
}

.contact-text-subtitle {
    text-transform: uppercase;
}

.contact-detail, .contact-detail-email {
    margin-top: 20px;
    font-size: 40px;
    font-weight: 400;
    color: #868e96;
    text-decoration: none;
}

.contact-detail:hover, .contact-detail-email:hover {
    color: black;
    text-shadow: 2px 1px 2px #b5b5b5;
    transition: all 0.3s;
}

.responsive-iframe{
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 680px;
}

/* Media Query */

@media (max-width: 1380px) {
    .contact-heading {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .contact-heading {
        font-size: 30px;
        text-align: center;
    }
    .greeting-text-p {
        font-size: 16px;
        line-height: normal;
    }
    .contact-main-div {
        flex-direction: column
    }
    .contact-text-div {
        margin-left: 0px;
        margin: 20px;
    }
    .contact-text {
        font-size: 16px;
    }
    .contact-text-subtitle {
        font-size: 16px;
        text-align: center;
        text-transform: uppercase;
    }
    .contact-image-div {
        /* display: none; */
        order: 2;
    }
    .contact-detail,.contact-detail-email{
        font-size: 20px;
        text-align: center;
    }
}